name: Release Drafter

on:
  push:
    branches:
      - master
      - main
  workflow_dispatch:
  pull_request_target:
    types:
      - opened

permissions:
  contents: write
  pull-requests: write

jobs:
  update_release_draft:
    name: Update Release Draft
    runs-on: ubuntu-latest
    steps:
      - name: Draft next release notes
        uses: release-drafter/release-drafter@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
